article[role="experience"] {
    display: flex;
    margin: 0;
}
article[role="experience"] > div[role="left"] {
    flex: 10;
    align-self: center;
}
article[role="experience"] > div[role="left"] > img {
    width: 100%;
    padding: .5em;
}
article[role="experience"] > div[role="right"] {
    flex: 85;
    padding: 1em;
    align-self: center;
}


@media only screen and (max-width: 700px) {
    article[role="experience"] {
        display: block;
    }

    article[role="experience"] > div[role="left"] > img {
        display: none;
    }
}
