article[role="publication"] {
    display: flex;
}
article[role="publication"] div[role="left"] {
    flex: 30;
    align-self: center;
}
article[role="publication"] > div[role="left"] > img {
    width: 100%;
    padding: 0 .5em;
    margin: auto;
}
article[role="publication"] > div[role="right"] {
    flex: 75;
    padding: 0 0 0 1em;
    align-self: center;
}
article[role="publication"] header {
    padding-bottom: .5em;
}
p[role="links"] {
    padding-top: .5em;
}
p[role="links"] > a {
    padding-right: 1em;
}
p[role="links"] > b {
    padding-right: 1em;
}
p[role="others"] {
    margin-top: 0.5em;
    font-size: .8em;
    text-align: left;
}

@media only screen and (max-width: 700px) {
    article[role="publication"] {
        display: block;
    }

    article[role="publication"] > div[role="left"] > img {
        display: block;
        width: 80%;
        max-width: 300px;
        margin: 0 auto;
    }
}
